*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 5, 100);
    overflow-x: hidden;
    user-select: none;
}

@font-face {
    font-family: "formula";
    src: url("src/assets/fonts/formula.otf") format("opentype");
}
@font-face {
    font-family: Outfit;
    src: url("src/assets/fonts/outfit/outfit.ttf");
}

.page1{
    position: relative;
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 5, 5);
    z-index: 0;
}

.b1, .b2, .b3{
    opacity: 0;
    margin: 0;
    padding: 10px 0;
    transform: translate(0,50px);
    font-size: 50px;
    color: rgb(246, 246, 246);
    font-family: formula;
    text-align: center;
    z-index: 2;
}

.logo{
    clip-path: inset(0px 0px 80px 0px);
    position: relative;
    display: block;
    opacity: 0;
    margin: 100px auto;
    height: 200px;
    z-index: 2;
}

.leclern-video{
    position: absolute;
    top: 0px;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    box-shadow: inset 0 0 8px red ;
    z-index: 1;
}

.page2{
    padding-top: 80px;
    opacity: 1;
    width: 100vw;
    height: 80vh;
    background-color: rgb(5, 5, 5);
}

.box{
    display: flex;
    justify-content: space-around;
}

.soft, .medium, .hard{
    opacity: 0;
    height: 400px;
    width: 400px;
}

.page3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    overflow: hidden;
}

.page3 h1{
    margin: 0;
    position: absolute;
    top: 50%;
    color: rgb(23, 23, 23);
    left: 50%;
    transform: translate(-19%, 0%);
    font-size: 20vw;
    font-family: Outfit;
}

.rb20{
    width: 100vw;
    transform: translateX(-25px);
}

.page4{
    width: 100vw;
    height: 100vh;
    background-color: rgb(5,5,5);
    position: relative;
    top: 0;
    cursor:  crosshair;
}

.string{
    width: 100vw;
    background-color: rgb(5,5,5);
}

.cursor{
    opacity: 0;
    position: absolute;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color:transparent;
    border: 5px solid #f7e686;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px #fc3056, 0 0 10px 2px #fc3056;
}










